/* body themes */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.light-body { 
	background-color: lightgray; 
}

.dark-body {
	background-color: #313131;
	color: white;
}


/* header */
#headerDiv {
	width: 100%;
	background-color: black;
	text-align: center;
	height: 200px;
}

#header {
	width: 50%;
	max-width: 550px;
	height: 200px;
}


/* navbar stuff */
.tentaclenav { 
	background-color: rgb(233,236,239) !important; 
	margin-bottom: 15px; }

.tentaclenav-dark { 
	background-color: #212121 !important; 
	margin-bottom: 15px;
	color: white;
}

.tentacledrop {
	background-color: rgb(233,236,239);
}

.tentacledrop-dark {
	background-color: #212121;
}

a.dropdown-item:hover {
	background-color: #F73859;
	color: black;
}

a.dropdown-item {
	color: rgb(116,118,119);
}

.dropdown-item-dark {
  	display: block;
  	width: 100%;
  	padding: 0.25rem 1.5rem;
  	clear: both;
  	font-weight: 400;
  	color: rgb(151,152,155);
  	text-align: inherit;
  	white-space: nowrap;
  	background-color: transparent;
  	border: 0;
}

a.dropdown-item-dark:hover {
	color: white;
	text-decoration: none;
	background-color: #F73859;
	transition: background-color .2s ease-in;
}

li.active {
	background-color: #F73859;
}

nav li {
	padding-top: 5px;
	padding-bottom: 5px;
}

nav li:hover {
	background-color: #F73859;
	transition: background-color .2s ease-in;
}

#meteor {
	height: 35px;
	width: 35px;
}


/* navbar top border */
.navbarTopborder {
	height: 5px;
	width: 100%;
	background-color: #F73859;
}


/* roster table */
.rosterTable td:nth-of-type(4){
	text-align: right;
	width: 34px;
}

.rosterTable {
	background-color: #212121;
}

.playerAvatar {
	height: 32px;
	width: 32px;
	border-radius: 32px;
	margin-right: 5px;
}

.twitch {
	height: 32px;
	width: 32px;
}

.player { 
	color: white; 
}

.player:hover { 
	color: gray; text-decoration: none; 
}


/* loot table */
.lootTable {
	background-color: #212121
}


/* timelines iframe */
iframe.timelines {
	border: 0;
	width: 100%;
	height: 895px;
}


/* text edits */
.external:hover { 
	text-decoration: none; 
}

.display-4 {
	font-size: 30px;
}

.rowHd {
	text-align: center;
}

.darkHr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.lightHr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}